{% load staticfiles %}
{% load i18n %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content = "all,index, follow" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon.png">
    <title>{{titulo}}</title>
    <meta name="description" content="{{descripcion}}">
    <meta property="og:site_name" content="Sistemas iCode - Venezuela Puerto Ordaz" />

    <meta property="og:description" content="{{meta_descripcion}}" />
    <link rel="canonical" href="http://www.icode.com.ve/{{meta_url}}">
    <meta property="og:url" content=" http://www.icode.com.ve/{{meta_url}}" />
    {% if meta_imagen %}
        <meta property="og:image" content="http://www.icode.com.ve/media/{{meta_imagen}}">
        <link type="image/jpeg" href="http://www.icode.com.ve/media/{{meta_imagen}}" />

    {% else %}
        <meta property="og:image" content="http://www.icode.com.ve/static/images/logo_blog.png" />
    {% endif %}

</head>
<body>
    <div class="cssload-loader">
        <div class="cssload-inner cssload-one"></div>
        <div class="cssload-inner cssload-two"></div>
        <div class="cssload-inner cssload-three"></div>
        <div id="logo2"></div>
    </div>
    {% include 'header_blog.html' %}
    <section class="container" style="display: none">
        {% block contenido_centrado_superior %}

        {% endblock contenido_centrado_superior %}
        <div class="pull-left col-lg-8 col-xs-12">
            {% block contenido_izquierdo %}

            {% endblock %}
        </div>
         <div class="pull-right col-lg-4 col-xs-12">
            {% block contenido_derecho %}

            {% endblock %}
        </div>
    </section>
</body>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_blog.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <script type="text/javascript" src = "{% static 'js/jquery.js' %}"></script>
    <script>
    $(function(){
        setTimeout(function(){
            $("header").fadeIn(400);
            $(".container").fadeIn(400);
            $(".cssload-loader").fadeOut(200);
        },3000);
    });
</script>
{% block js %}

{% endblock js %}
{% block css %}

{% endblock css %}
</html>