{% load staticfiles %}
<header id="header" class="tg-header haslayout" style="display: none;">
    <div class="topbar haslayout">
        <div class="container">
            <div class="col-lg-6 col-sm-4  pull-left" style="padding-right: 0px;">
                <div class="col-lg-6 col-sm-12 form-group" style="padding-top: 6px; margin-bottom: 0">
                    <i class="fa fa-phone"><span style="padding-left: 10px;font-size: 9pt;font-family: Font;">+58 424 9123703</span></i>
                </div>
                <div class="col-lg-6 col-sm-12 form-group" style="padding-top: 6px;">
                    <i class="fa fa-envelope-o"><span style="padding-left: 10px;font-size: 9pt;font-family: Font;">icode.sistemas@gmail.com</span></i>
                </div>
            </div>
            <div class="col-lg-2 col-sm-8 search-social pull-right" style="padding-right: 0px; margin-bottom: 0">
                <ul class="social-icon">
                    <li><a target="_blank" href="https://www.facebook.com/icode.com.ve/"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/iCodeSistemas"><i class="fa fa-twitter"></i></a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">
        <div class="logo-box haslayout">
            <strong class="logo">
                <a href="/">
                    <h1 style="padding: 0; margin: 0; color: transparent; font-size: 0pt;">Blog de la empresa de tecnología Sistemas iCode
                    <img src="{% static 'images/logo_blog.png'%}" alt="Blog de Sistemas iCode"></h1>
                </a>
            </strong>
        </div>
    </div>
    <nav id="nav" class="navbar navbar-default">
        <div class="container" id="bs-example-navbar-collapse-1">
            <div class="new-slides pull-left col-lg-8 col-md-7 col-sm-6 col-xs-6" >
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse"  aria-expanded="false" style="height: 2px;">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/blog/">Inicio</a>
                        </li>
                        <li><a href="/somos-icode/" id="/somos-icode/" title="Quienes Somos">Quienes somos</a></li>
                        <li><a href="/servicios/" id="/servicios/" title="Servicios">Servicios</a></li>
                        <li><a href="#" title="Productos">Productos</a></li>
                        <li><a href="/contacto/" id="/contacto/" title="Contacto">Contacto</a></li>
                        <li><a href="/blog/" id="/blog/" title="Blog">Blog</a></li>
                    </ul>

                </div>
            </div>
            <div class="new-slides pull-right col-lg-4 col-md-5 col-sm-6 col-xs-6">
                <input type="search" class="form-control" style="margin-top: 6px; margin-bottom: 5px;" placeholder="Buscar...">
            </div>
        </div>
    </nav>
</header>