{% extends 'base_blog.html' %}
{% load i18n %}
{% load staticfiles %}
{% block contenido_centrado_superior %}
<div id="categories-slider" class="tg-categories">
    {% for post in posts %}
        {% if post.id_categoria.url == 'noticias' %}
        <article class="item">
            <div class="tg-category">
                <figure>
                    <a href="/post/{{post.url}}/" title="{{post.titulo}}">
                        <img src="/media/{{post.foto_miniatura}}" alt="{{post.titulo}}">
                    </a>
                </figure>
                <div class="category-content">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="post-meta">
                                <span>
                                    <a href="/post/{{post.url}}" title="{{post.titulo}}" style="font-size: 12pt;">
                                        {{post.titulo}}
                                    </a>
                                </span>
                            </div>
                            <div class="description">
                                <p>{{post.resumen|slice:"0:80"}}</p>
                            </div>
                            <div class="post-meta no-padding">
                                <span>
                                    <i class="fa fa-user"></i>
                                    <em>{{post.id_usuario.username}}</em>
                                </span>
                                <span>{{post.fecha_creacion}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        {% endif %}
    {% endfor %}
</div>
<div class="tg-newsupdate">
    <div class="title-box">
        <h2>Recibir las últimas noticias</h2>
        <span>Te enviaremos las actualizaciones del blog</span>
    </div>
    <form class="tg-latestnewsform" action="/suscripcion/" method="post">
        <fieldset>

            <div class="col-sm-8 form-group">
                <input type="email" name="correo" placeholder="Dirección de correo electrónico" class="form-control">
            </div>
            <div class="col-sm-4 form-group">
                <button type="submit">Suscribirse</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock contenido_centrado_superior %}

{% block contenido_izquierdo %}
    {% for post in posts %}
        {% if post.id_categoria.url != 'noticias' %}
            <article class="tg-post">
            <div class="tg-post-content">
                <img src="/media/{{post.foto_miniatura}}" alt="{{post.titulo}}">
                <h2>
                    <a href="/post/{{post.url}}/" title="{{post.titulo}}">
                        {{post.titulo}}
                    </a>
                </h2>
                <div class="post-meta">
                    <span class="date">{{post.fecha_creacion}}</span>
                </div>
            </div>


            <p style="text-align: justify">{{post.resumen}}</p>
            <div style="width: 150px;margin: 20px auto;">
                <a href="/post/{{post.url}}/" class="tg-btn-countinuereading">Continuar leyendo</a>
            </div>
            <div class="tg-post-foot">
                <ul class="post-social-icons">
                    <li>
                        <a onclick="sumarCompartir('{{post.id}}','fb')" title="Compartir con facebook" target="_blank" href="https://www.facebook.com/sharer.php?u=http://www.icode.com.ve/post/{{post.url}}/&t={{post.titulo}}">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a onclick="sumarCompartir('{{post.id}}','tw')" title="Compartir con twitter" target="_blank" href="https://twitter.com/?status={{post.titulo}} http://www.icode.com.ve/post/{{post.url}}/">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a onclick="sumarCompartir('{{post.id}}','gp')" title="Compartir con Google plus" target="_blank" href="https://plus.google.com/share?url=http://www.icode.com.ve/post/{{post.url}}/">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                </ul>
                <div class="post-meta pull-right">
                    <span class="tg-post-author">Publicado por: <a>{{post.id_usuario.username}}</a></span>
                </div>
            </div>
        </article>
        {% endif %}
    {% endfor %}
{% endblock contenido_izquierdo %}

{% block contenido_derecho %}
    <div class="tg-widget">
        <h3><span>Somos Sistmas iCode</span></h3>
        <article>
            <div class="author-img">
                <img src="{% static 'images/logo2.png' %}" alt="image description">
            </div>
            <p style="text-align: justify">{% trans "Es una empresa dedicada a brindar soluciones tecnologícas, conformada por un equipo de jovenes profesionales dedicado a un área de experticia especifica unidos por el sentir de llevar a buenos términos software de alta calidad provocando clientes satisfechos. Siendo nuestro principal objetivo hacer de la tecnología tú aliado número uno para alcanzar el crecimeinto que tú organización necesita. "%}</p>
            <div style="width: 150px;margin: 20px auto;">
                <a href="/somos-icode/" class="tg-btn-countinuereading">Continuar leyendo</a>
            </div>
        </article>
    </div>
    <div class="tg-widget tg-category">
        <h4><span>Categorías del Blog</span></h4>
        <ul class="blog-category">
            {% for cat in categorias %}
            <li>
                <a href="/blog/categoria/{{cat.url}}">
                    <em>{{cat.categoria}}</em>
                    <i>({{cat.total_articulos}})</i>
                </a>
            </li>
            {% endfor %}

        </ul>
    </div>

{% endblock %}

{% block js %}
<script>
    function sumarCompartir(id, social){
        $.ajax({
            url: '/blog/compartir/',
            type: 'post',
            dataType: 'json',
            asyn:true,
            data:  {tipo_rrss :social,post: id},
            success: function (data) {
                console.log(data)
            }
        });
    }

    $(function(){
        $("#categories-slider").owlCarousel({
            items: 3,
            itemsDesktop: [1199, 3],
            itemsDesktopSmall: [991, 2],
            itemsTablet: [639, 1],
            navigation: false,
            pagination: false,
            autoPlay: false
        });
    })
</script>
{% endblock js %}