{% extends 'base_blog.html' %}
{% load i18n %}
{% load staticfiles %}
{% block contenido_centrado_superior %}

{% endblock %}

{% block contenido_izquierdo %}
    <div class="tg-widget" style="margin-bottom: 0">
        <h2><span>{{nombre_categoria}}</span></h2>
    </div>
    {% for post in posts %}
        <article class="tg-post col-lg-6 col-sm-6 ">
            <div class="tg-post-content">
                <img src="/media/{{post.foto_miniatura}}" alt="{{post.titulo}}">
                <h2>
                    <a href="/post/{{post.url}}/" title="{{post.titulo}}">
                        {{post.titulo}}
                    </a>
                </h2>
                <div class="post-meta">
                    <span class="date">{{post.fecha_creacion}}</span>
                </div>
            </div>


            <p style="text-align: justify">{{post.resumen}}</p>
            <div style="width: 150px;margin: 20px auto;">
                <a href="/post/{{post.url}}/" class="tg-btn-countinuereading">Continuar leyendo</a>
            </div>
            <div class="tg-post-foot">
                <ul class="post-social-icons">
                    <li>
                        <a onclick="sumarCompartir('{{post.id}}','fb')" title="Compartir con facebook" target="_blank" href="https://www.facebook.com/sharer.php?u=http://www.icode.com.ve/post/{{post.url}}/&t={{post.titulo}}">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a onclick="sumarCompartir('{{post.id}}','tw')" title="Compartir con twitter" target="_blank" href="https://twitter.com/?status={{post.titulo}} http://www.icode.com.ve/post/{{post.url}}/">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a onclick="sumarCompartir('{{post.id}}','gp')" title="Compartir con Google plus" target="_blank" href="https://plus.google.com/share?url=http://www.icode.com.ve/post/{{post.url}}/">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                </ul>
                <div class="post-meta pull-right">
                    <span class="tg-post-author">Publicado por: <a>{{post.id_usuario.username}}</a></span>
                </div>
            </div>
        </article>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            <div class="btn-anterior">
                {% if articulos.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}">&laquo; previous</a>
                {% endif %}
            </div>
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>
            <div class="btn-siguiente">
                {% if articulos.has_next %}
                    <a href="?page={{ posts.next_page_number }}">next &raquo;</a>
                {% endif %}
            </div>
        </span>
    </div>
{% endblock %}

{% block contenido_derecho %}
    <div class="tg-widget tg-recent-post">
        <h4><span>Post Recientes</span></h4>
        <div class="recent-post">
            <ul>
                {% for post in mas_post %}
                <li>
                    <div class="post-thumb">
                        <a href="/post/{{post.url}}/">
                            <img src="/media/{{post.foto_miniatura}}" alt="image description" width="80px">
                        </a>
                    </div>
                    <div class="post-data">
                        <h5 style="margin-top: 0">
                            <a href="/post/{{post.url}}/">{{post.titulo}}</a>
                        </h5>
                        <span class="author-name">By: <a href="#">{{post.id_usuario.username}}</a></span>
                        <span class="date">{{post.fecha_creacion}}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="tg-widget tg-category">
        <h4><span>Categorías del Blog</span></h4>
        <ul class="blog-category">
            {% for cat in categorias %}
            <li>
                <a href="/blog/categoria/{{cat.url}}/">
                    <em>{{cat.categoria}}</em>
                    <i>({{cat.total_articulos}})</i>
                </a>
            </li>
            {% endfor %}

        </ul>

    </div>
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}