@font-face{font-family: Font;src: url('../fonts/Raleway-Light.ttf');}
@font-face{font-family: FontBold;src: url('../fonts/Raleway-Regular.ttf');}

html, body{font-family: Font; font-size: 12pt; color: #333; background: black}
header{ background: black; opacity: 0.7; height: 56px;  display: none; position: relative; width: 100%;}
.header-interno{background: rgba(0, 0, 0, 0) url("../images/banner.jpg") no-repeat; background-size: 100%; 
 width: 100%; top: 0; position: fixed; overflow: hidden; height: 420px; padding-top: 8%; z-index: 5; background-position: 100% -100px;}
 .overlay { width: 100%; height: 100%; position: absolute; top: 0; z-index: 4;
    background: url(../images/bg-overlay.png) rgba(0, 0, 0, 0.4) repeat;
}
#contenido{ margin-top: 320px; z-index: 6 }
.servicios{background: #c5e2ff; padding: 6px;border-bottom: 4px #0077ED solid; border-left: 1px #0077ED solid; border-radius: 8px;}

.image-contenedor{ max-width: 100%; text-align: center; position: relative; margin: 0 auto; width: 245px; height: 120px;
	background-repeat: no-repeat !important; background-size: 100% !important;}
.navbar-nav{background: black}
p{text-align: justify;}
li{text-align: justify;}
a{color: #0856CC;}
header nav{border-bottom: 1px solid #434040}
h1, h2, h3{font-family:FontBold; margin-bottom: 20px; margin-top: 20px !important;}
input{margin-bottom: 20px;}
@media only screen and (max-width: 1024px){
	.header-interno{padding-top: 15%; height: 426px; background-position: 100% 100%;}
}
@media only screen and (max-width: 768px){
	.header-interno{padding-top: 10%; height: 320px; background-position: 100% 100%;}
}
@media only screen and (max-width: 414px){
	.header-interno{padding-top: 12%; height: 156px; background-position: 100% 100%;}
	#contenido{ margin-top: 110px; }
	#body{padding-top: 50px;}
}
@media only screen and (max-width: 360px){
	.header-interno{padding-top: 11%; height: 150px; background-position: 100% 100%;}
	#contenido{ margin-top: 88px; }
	h1, h2, h3{font-family:FontBold; margin-bottom: 10px; margin-top: 10px !important;}
	#body{padding-top: 50px;}
}
.shorter{color:#0077ED; margin-top: 0 !important; }
#web_incluye i{color: #0077ED; font-size: 26pt;}

.row {margin-left: 0 !important; margin-right: 0 !important;}
.black{color: #212326 !important;}
.alert{z-index: 666 !important; position: fixed !important; bottom: 0; display: none}
button{    border: none; transition: all 300ms ease-in-out;}
.btn-icode:hover {
    background: #424242;
    color: #fff;
}
 .btn-icode {
    display: block;
    background: #FFCD15;
    color: #424242;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
    padding: 10px;
    border-radius: 0;
    font-weight: 600;
}
footer{background: #212326; padding-top: 10px; z-index: 10; position: relative; padding-bottom: 10px;
	display: none;}
footer  .titulo-centrado, footer p{color: white;}
.form-control{border-radius: 4px !important;transition: all 0.2s ease-in-out 0s; height: 38px !important; outline: none !important; background: transparent; color: white}
.form-control:focus{text-shadow: none !important; outline: none !important;}
#logo_footer{background: url("../images/logo2.png") no-repeat; height: 50px; width: 120px; background-size: 100%; margin: 0 auto}
.tecnologia h2{color: white !important;}
.tecnologia{position: relative; padding-top: 20px;}
#body{position: relative; display: none;  z-index: 10;   padding-top: 62px; width: 100%;}
.navbar-nav>li>a {text-shadow: inherit !important; transition: all 0.2s ease-in-out 0s; font-family: FontBold; color: white;border-bottom: 1px solid #F9CD15;}
.navbar-nav>li>a:focus,.navbar-nav>li>a:hover, .activo{color:#F9CD15 !important; background: transparent !important; border-bottom: 1px solid #fff; font-family: FontBold; font-size: 14pt; }
.navbar-toggle>.icon-bar {background: white !important;}
.clear{clear: both;}
.titulo{padding-bottom: 8px; 
    border-bottom: 2px solid #8ee018;}
.bg2{width: 100%;  position: relative; background: white !important; z-index: 6; padding-bottom: 20px;
margin: 0; /*box-shadow: 0 6px 50px  black inset;*/ padding-top: 20px}
.bg2 .titulo-centrado{color: #2d2d2d !important}
.bg2 h1, .bg2 h2, .bg2 h3{color:#2d2d2d;}
.body>.row{margin-top: 12px; margin-right: 0;}

#contacto{margin-top: 30px;}
.round{width: 130px; padding: 4px; height: 130px; border-radius: 100px; border:6px solid #0856CC; background: white; 
	position: relative; margin: 0 auto}
.round>img{position: relative; width: 112px; margin: auto;}
.ln_solid{margin-bottom: 20px; margin-top: 20px; height: 1px; width: 100%; background: #F9CD15}
#banner{position: relative; height: 390px; }
h1{font-size: 34pt}
h2{font-size: 30pt}
h3{font-size: 24pt}
/*#elegirnos{color: #e8e8e8;}*/
#elegirnos{position: relative;  padding-top: 22px;   /*height: 280px; background-image: url(../images/trabajo.jpg); background-position: center center;*/}
#dg_header{ background-image: url(../images/bg_header.jpg);height: 488px; width: 100%;display: none;align-items: center; position: fixed; background-size: cover;}
.btn-success{background: #63A701; font-family: FontBold}
.btn{font-size: 12pt; transition: all 0.2s ease-in-out 0s; border:1px solid transparent;}
.btn-success:hover{background: #0856CC; border: 1px solid transparent}
@media (max-width: 720px) {
	h1{font-size: 16pt;}
	h2{font-size: 14pt;}
	h3{font-size: 12pt;}
	p{font-size: 9pt;}
    li{font-size: 9pt;}
	header{height: 50px}
	#logo {height: 42px !important; width: 94px !important;}
	#elegirnos{height: 426px;}
	#dg_header{height: 248px;} 
	#banner {height: 186px;}
	#banner > h1{font-size: 17pt;}
	.round{width: 80px; height: 80px; border-width: 4px;}
	.round>img {width: 66px;}
	#productos-principales {    height: 162px;}
}
.titulo-centrado{text-align: center; margin-top: 0}
.clientes img{-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;}
#banner h1,#banner h2,#banner p, .header-interno h1,.header-interno h2, .header-interno p{color:#d4d4d4;}
#logo2{position: absolute;
	bottom:-140px; background: url(../images/logo2.png) no-repeat center center; height: 100px; width: 220px;  background-size: 100% 100%;}
#logo{background: url(../images/logo.png) no-repeat center center; height: 50px; width: 120px;  background-size: 100% 100%;}
#bg{
	background: url(../images/bg.jpg) no-repeat center center; height: 100%; width: 100%;  background-size: 100% 100%;
	-webkit-background-size: cover; z-index: 0; position: fixed; top: 0;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.navbar-brand{padding-top: 3px;}
.center-block {
	display: block; float: inherit; z-index: 6;
	margin-left: auto;
	margin-right: auto;
}
.navbar-inverse{opacity: 0.8; background: black !important;}

#footer {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
	background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
	bottom: 0; display: none;
	cursor: default;
	height: 6em;
	left: 0;
	position: relative;
	text-align: center;
	width: 100%; color: white;
}

.cssload-loader {
	position: absolute;
	z-index:9;
	left: calc(50% - 104px);
	width: 208px;
	height: 208px; margin-top: 4%;
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	perspective: 2600px;
}

.cssload-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.cssload-inner.cssload-one {
	left: 0%;
	top: 0%;
	animation: cssload-rotate-one 1.15s linear infinite;
	-o-animation: cssload-rotate-one 1.15s linear infinite;
	-ms-animation: cssload-rotate-one 1.15s linear infinite;
	-webkit-animation: cssload-rotate-one 1.15s linear infinite;
	-moz-animation: cssload-rotate-one 1.15s linear infinite;
	border-bottom: 10px solid #F9CD15;
}

.cssload-inner.cssload-two {
	right: 0%;
	top: 0%;
	animation: cssload-rotate-two 1.15s linear infinite;
	-o-animation: cssload-rotate-two 1.15s linear infinite;
	-ms-animation: cssload-rotate-two 1.15s linear infinite;
	-webkit-animation: cssload-rotate-two 1.15s linear infinite;
	-moz-animation: cssload-rotate-two 1.15s linear infinite;
	border-right: 10px solid rgb(1,112,223);
}

.cssload-inner.cssload-three {
	right: 0%;
	bottom: 0%;
	animation: cssload-rotate-three 1.15s linear infinite;
	-o-animation: cssload-rotate-three 1.15s linear infinite;
	-ms-animation: cssload-rotate-three 1.15s linear infinite;
	-webkit-animation: cssload-rotate-three 1.15s linear infinite;
	-moz-animation: cssload-rotate-three 1.15s linear infinite;
	border-top: 10px solid rgb(0,0,0);
}



@keyframes cssload-rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-one {
	0% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-one {
	0% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-one {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-one {
	0% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-two {
	0% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-two {
	0% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-two {
	0% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-two {
	0% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-three {
	0% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-three {
	0% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-three {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-three {
	0% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {padding-right: 6px !important;
    padding-left: 6px !important;}