@font-face{font-family: Font;src: url('../fonts/Raleway-Light.ttf');}
@font-face{font-family: FontBold;src: url('../fonts/Raleway-Regular.ttf');}
body,html{color: #424242; font-family: Font}

.container {
     padding-right: 0;
     padding-left: 0;
}
.topbar {
    border-bottom: 1px solid #d4d4d4;
    -webkit-box-shadow: 0 0 4px 1px #f4f4f4;
    box-shadow: 0 0 4px 1px #f4f4f4;
}
a:hover{color:#747474}
.social-icon, .btn-search {
    display: inline-block;
    vertical-align: middle;
}
.social-icon a{color: #232323}
.social-icon {
    text-align: center; padding-bottom: 0;
    margin-bottom: 0;
    border: 1px solid #d4d4d4;
    padding: 15px;
    border-bottom: 0;
    border-top: 0;
    padding-top: 6px;
    padding-bottom: 6px;
}
.social-icon li {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 32px;
}
li {
    line-height: 28px;
    list-style: disc inside none;
}
.social-icon li +li {
    border-left: 1px solid #e9e9e9;
}

.logo {
    width: 300px;
    height: 132px;
    display: block;
    margin: 0 auto 4px;
}
img {
    max-width: 100%;
}
.form-control:focus{border:1px solid #FFCD15 !important;}
#bs-example-navbar-collapse-1, #bs-example-navbar-collapse-2 {
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #f4f4f4;
}
.nav li:hover{background: #232323;}
.nav li:hover a{color: #ffcd15 !important; text-shadow: initial !important;}
#nav {
    font-size: 13px; box-shadow: initial;
    line-height: 15px;
    margin: 0;
    border: 0;
    background: none;
    text-transform: uppercase;
}
#nav ul li { transition: all 0.2s ease-in-out 0s;
    float: none;
    padding: 15px 12px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    position: relative;
}
#nav ul .active {
background: #232323;
}
#nav ul .active>a{ color: #FFCD15; text-shadow: initial}
#nav ul li a {
    padding: 0;
    display: block;
    background: none;
    color: #424242;
    line-height: normal;
}
#sidebar .tg-widget {
        position: relative;
    overflow: hidden;
    padding: 0 0 30px;
}
.tg-widget{margin-bottom: 30px;}
.tg-widget h4, .tg-widget h3, .tg-widget h2 {
    text-align: center;
    margin: 0 0 20px;
    overflow: hidden;
    line-height: normal;
}

.tg-widget h4 span, .tg-widget h3 span, .tg-widget h2 span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 0 10px;
}

.tg-widget h4 span:before, .tg-widget h3 span:before, .tg-widget h2 span:before {
    left: auto;
    right: 100%;
}
.tg-widget h4 span:before, .tg-widget h4 span:after, .tg-widget h3 span:before, .tg-widget h3 span:after,
.tg-widget h2 span:before,.tg-widget h2 span:after {
    content: '';
    display: block;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 100%;
    background: #eee;
    height: 1px;
}
.tg-widget h4 span:before, .tg-widget h3 span:before, .tg-widget h2 span:before {
    left: auto;
    right: 100%;
}

.tg-widget h4, .tg-widget h3, .tg-widget h2{font-family: FontBold;  font-weight: 600}
.tg-widget h2{margin-top: 20px; margin-bottom: 10px;}
.blog-category {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
}
.blog-category li:first-child {
    padding-top: 0;
    border: 0;
}
.blog-category li {
    overflow: hidden;
    list-style: none;
    padding: 5px;
    border-top: 1px solid #dedede;
}
.blog-category li a {
    display: block;
    clear: both;
}
a {
    color: #232323;
    text-decoration: none !important;
}
.blog-category li a em, .blog-category li a i {
    font-style: normal;
}
.blog-category li a em {
    float: left;
}
.blog-category li a i {
    float: right;
}
.tg-post-content h1 {
    text-transform: uppercase; font-size: 20pt; font-family: FontBold; font-weight: 400;
    margin: 0 0 20px;
    line-height: 30px;
}
.tg-post-content h1:hover a {
    color: #5a5a5a;
}
.tg-post-content img{    margin-bottom: 22px;}
.post-meta {
    color: #888;
    text-align: center;
    overflow: hidden;
    padding: 0 0 20px;
    font-style: italic;
    font: normal 12px/15px 'Merriweather', Arial, Helvetica, sans-serif;
}
.tg-post-content .post-meta span {
    padding: 0 10px;
    position: relative;
}
.post-meta span:first-child {
    padding: 0 15px 0 0;
}
.post-meta span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: #888;
    padding: 0 15px;
    line-height: inherit;
}

.tg-post-content .post-meta span.date:before, .tg-post-content .post-meta span.date:after {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 80px;
    content: '';
    display: block;
    height: 1px;
    background: #b7b5b5;
}
.post-meta span:first-child:after {
    display: none;
}
.post-meta span:after {
    content: '/';
    position: absolute;
    top: -2px;
    left: -5px;
    font-size: 15px;
    line-height: 18px;
    color: #888;
}
.tg-post-content .post-meta span.date:before {
    left: auto;
    right: 114%;
}
.tg-post{padding-bottom: 20px; border-bottom: 1px solid #f4f4f4; margin-top: 20px;}
.tg-btn-countinuereading {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 10px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 14px;
    position: relative;    margin: 0 0 20px;
}
.tg-btn-countinuereading:before, .tg-btn-countinuereading:after {
    width: 1px;
    height: 70%;
    display: block;
    content: '';
    background: #888;
    left: 0;
    top: 15%;
    position: absolute;
}
.tg-btn-countinuereading:before {
    left: auto;
    right: 0;
}
.tg-post-content {
    overflow: hidden;
    text-align: center;
}
.tg-post-content h2 >a {transition: all 0.2s ease-in-out 0s;}
tg-post a{transition: all 0.2s ease-in-out 0s;}
.tg-post-content h2:hover a,tg-post div a:hover{color:black !important; font-weight: 600}
.post-social-icons {
    float: left; padding-left: 0;
}
.post-social-icons li {
    float: left;
    width: 32px;
    list-style: none;
}
.tg-post-foot {
    overflow: hidden;
    border-bottom: 1px solid #a7a7a7;
    padding: 0 0 20px;
}
.tg-newsupdate {
    overflow: hidden;
    background: #fbfbfb;
    padding: 20px 25px 20px 20px;
    margin: 0 0 30px;
    margin: 0 0 30px;
}
.tg-newsupdate .title-box {
    float: left;
}
.title-box h2{margin-top: 0; font-family: FontBold}
.tg-latestnewsform {
    overflow: hidden;
    padding: 5px 0 5px 25px;
}
.tg-latestnewsform {
    overflow: hidden;
    padding: 5px 0 5px 25px;
}
.tg-latestnewsform .form-control{height: 50px;}
.tg-latestnewsform .form-group {
    margin: 0;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #f4f4f4;
    color: #888;
    width: 100%;
    font-size: 12px;
    font-weight: 400;

    line-height: 30px;
    outline: none;
    padding: 10px;
    background: #fff;
    box-shadow: none;
    border-radius: 0;
}
button{    border: none; transition: all 300ms ease-in-out;}
button[type="submit"]:hover, .btn-icode:hover {
    background: #424242;
    color: #fff;
}
button[type="submit"], .btn-icode {
    display: block;
    background: #FFCD15;
    color: #424242;
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    padding: 10px;
    border-radius: 0;
    font-weight: 600;
}
.author-img {
    width: 176px; background: black;
    height: 176px;
    border: 1px solid #e0e0e0;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
}
.author-img img {
    display: block;
    width: 100%; margin: 36px auto;
    height: auto;
}
i>span{font-family: Font;}
.recent-post {
    overflow: hidden;
}
.recent-post ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.recent-post ul li:first-child {
    padding-top: 0;
    border: 0;
}
.recent-post ul li {
    list-style: none;
    overflow: hidden;
    padding: 15px 0;
    border-top: 1px solid #eee;
}
.recent-post ul li .post-thumb {
    float: left;
    margin: 0 15px 0 0;
    overflow: hidden;
}
.recent-post ul li .post-data {
    overflow: hidden;
    padding: 0;
}
.recent-post ul li .post-thumb a {
    display: block;
}

.recent-post ul li .post-thumb a img {
    display: block;
}
.recent-post ul li .post-data span {
    display: block;
    font: normal 10px/15px 'Merriweather', Arial, Helvetica, sans-serif;
    font-style: italic;
}
.recent-post ul li .post-data span {
    display: block;
    font: normal 10px/15px 'Merriweather', Arial, Helvetica, sans-serif;
    font-style: italic;
}
.tg-categories {
    margin: 0 0 18px;
}
/*
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
    float: left;
}
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
    float: left;
}
*/
.tg-categories .owl-item {
    padding: 0 10px;
}
.tg-category {
    overflow: hidden;
    position: relative;
}
.tg-category figure {
    margin: 0;
    position: relative;
    z-index: 1;
}
.tg-category figure a {
    display: block;
}
.tg-category figure a img {
    display: block;
    width: 100%;
    height: auto;
}/*
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
    overflow: hidden;
}*/
.category-content {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 2;
}.category-content .display-table {
    border: 1px solid #fff;
    text-align: center;
}
 .display-table {
    width: 100%;
    height: 100%;
    display: table;
}
 .category-content .display-table .display-table-cell {
    background: rgba(255,255,255,0.95);
    visibility: hidden;
    opacity: 0;
}
 .tg-category .post-meta {
    font-size: 11px;
    line-height: 14px;
}
.tg-category:hover .display-table .display-table-cell {
    visibility: visible;
    opacity: 1;
}
.post-meta {
    color: #888;
    text-align: center;
    overflow: hidden;
    padding: 0 0 20px;
    font-style: italic;
    font: normal 12px/15px 'Merriweather', Arial, Helvetica, sans-serif;
}
.display-table-cell {
    width: 100%; transition: all 0.2s ease-in-out 0s;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

#owl-demo .item{
    margin: 3px;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer; display: none;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}

.cssload-loader {
	position: absolute;
	z-index:9;
	left: calc(50% - 104px);
	width: 208px;
	height: 208px; margin-top: 4%;
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	perspective: 2600px;
}

.cssload-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.cssload-inner.cssload-one {
	left: 0%;
	top: 0%;
	animation: cssload-rotate-one 1.15s linear infinite;
	-o-animation: cssload-rotate-one 1.15s linear infinite;
	-ms-animation: cssload-rotate-one 1.15s linear infinite;
	-webkit-animation: cssload-rotate-one 1.15s linear infinite;
	-moz-animation: cssload-rotate-one 1.15s linear infinite;
	border-bottom: 10px solid #F9CD15;
}

.cssload-inner.cssload-two {
	right: 0%;
	top: 0%;
	animation: cssload-rotate-two 1.15s linear infinite;
	-o-animation: cssload-rotate-two 1.15s linear infinite;
	-ms-animation: cssload-rotate-two 1.15s linear infinite;
	-webkit-animation: cssload-rotate-two 1.15s linear infinite;
	-moz-animation: cssload-rotate-two 1.15s linear infinite;
	border-right: 10px solid rgb(1,112,223);
}

.cssload-inner.cssload-three {
	right: 0%;
	bottom: 0%;
	animation: cssload-rotate-three 1.15s linear infinite;
	-o-animation: cssload-rotate-three 1.15s linear infinite;
	-ms-animation: cssload-rotate-three 1.15s linear infinite;
	-webkit-animation: cssload-rotate-three 1.15s linear infinite;
	-moz-animation: cssload-rotate-three 1.15s linear infinite;
	border-top: 10px solid rgb(0,0,0);
}



@keyframes cssload-rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-one {
	0% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-one {
	0% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-one {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-one {
	0% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-two {
	0% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-two {
	0% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-two {
	0% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-two {
	0% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-three {
	0% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-three {
	0% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-three {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-three {
	0% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}
