{% load staticfiles %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content = "all,index, follow" />
    <meta name="keywords" content="Sistemas iCode desarrolla aplicaciones web, soluciones innovadoras porque se cuenta con profesionales especialistas en el área.  "/>
    <meta name="Description" content="{{descripcion}}" />
    <title>{{titulo}}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon.png' %}">

</head>
<body>
    {% block cargador %}

    {% endblock cargador %}
    {% if messages %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% for message in messages %}
            <span id="mensaje">{{message}}</span>
        {% endfor %}
        </div>
    {% endif %}



    {% include 'header.html' %}

    <section id ="body">

    {% block cuerpo %}

    {% endblock cuerpo %}
    </section>

    <footer>

        <div class="col-md-6 col-xs-12 center-block">
            <h3 class="titulo-centrado" style="margin-top: 20px; margin-bottom: 20px;">{% trans "Recibe nuestro boletín informativo" %}</h3>
            <form method="post" action="/suscripcion/">
                {% csrf_token %}
                <div class="col-md-8 col-xs-12">
                    <input type="email" name="correo" class="form-control" required ="required" placeholder="Escriba su correo electrónico">
                </div>
                <div class="col-md-4 col-xs-12">
                    <button class="btn btn-icode" style="width: 100%;">Suscribirse</button>
                </div>
                <input type="hidden" name="url" value="{{ request.path | urlencode }}">
            </form>
        </div>
        <div class="clear"></div>
        <div id="logo_footer"></div>
        <div class="ln_solid"></div>
        <p style="text-align: center">Sitio oficial de Asociación Cooperativa Sistemas iCode J-405654155</p>
        <p style="text-align: center">Todos los derechos reservados © 2017</p>
        <p style="text-align: center">+58 424 912 37 03 / +58 286 932 86 90 </p>
    </footer>
</body>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <script type="text/javascript" src = "{% static 'js/jquery.js' %}"></script>

<script>
    $(function(){
        if( $('#mensaje').text().length > 0 ) {
            $('.alert').fadeIn();
        }
        elemnt = document.getElementById("{{ request.path | urlencode }}");
        $(elemnt).addClass('activo');
    })
</script>
{% block js %}

{% endblock js %}
{% block css %}

{% endblock css %}
</html>