{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block cuerpo %}
{% block css %}
<style>
	header, #body, footer{display: block;}
</style>
{% endblock css %}
<section class="header-interno">
	<div class="col-md-10 col-xs-12 center-block">
		<h1 class="titulo-centrado">Estamos disponible 24/7</h1> 
		<p style="text-align: center; font-size: 12pt; font-family: : FontBold">Envianos tus inquietudes y a la prevedad posible estaremos atendiendo tú requerimiento.</p>
	</div>
	<div class="overlay"></div>
	<div class=""></div>
</section>
<section class="bg2" id="contenido">
	<div class="col-md-10 col-xs-12 center-block" >
		<div class="col-md-8 col-xs-12" style="margin-bottom: 20px;">
			<h2 style="margin-top: 0 !important;">Contáctenos</h2>
			<form method="post" action="/contacto/enviar-correo/">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<div class="col-md-12 col-xs-47">
							<input name="nombre" type="text" class="form-control black" placeholder="Nombre completo" autofocus = "on">
						</div>
						<div class="col-md-12 col-xs-12">
							<input name="correo" type="text" class="form-control black" placeholder="Direccion de correo electronico">
						</div>
						<div class="col-md-12 col-xs-12">							
							<input name="asunto" type="text" class="form-control black" placeholder="Asunto">
						</div>
					</div>
					<div class="col-md-6 col-xs-12">
						<textarea name="mensaje" class="form-control black" style="height: 155px !important; " rows="6" placeholder="Mensaje"></textarea>
					</div>
				</div>
				<div class="row" style="text-align: center">
					<button class="btn btn-icode ">Enviar Mensaje</button>
				</div>

			</form>
		</div>
		<div class="col-md-4 col-xs-12">
			<p>Si deseas información adicional sobre nuestros servicos o sencillamente necesitas alguna asesoría carga tus datos
	en el  formulario y con gusto te contactaremos.</p>
			<div class="row">
				<div class="col-md-2 col-xs-2">
					<i class="glyphicon glyphicon-earphone"></i>
				</div>	

				<div class="col-md-10 col-xs-10">
					+58 424 912 37 03	
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-2 col-xs-2">
					<i class="glyphicon glyphicon-phone-alt"></i>
				</div>	

				<div class="col-md-10 col-xs-10">
					+58 286 932 86 90	
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-2 col-xs-2">
					<i class="glyphicon glyphicon-send"></i>
				</div>	

				<div class="col-md-10 col-xs-10">
					icode.sistemas@gmail.com
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-6 col-xs-6" style="text-align: center;">
					<a href="https://www.facebook.com/icode.com.ve/" title="Facebook iCode">
						<img src="{% static 'images/fb.png' %} " alt="Facebook Sistemas icode" width="40px;">
					</a>
				</div>
				<div class="col-md-6 col-xs-6" style="text-align: center;">
					<a href="https://twitter.com/iCodeSistemas" title="Twitter iCode">
						<img src="{% static 'images/tw.png' %} " alt="Twitter Sistemas icode" width="40px;">
					</a>
				</div>
			</div>

		</div>
	</div>
	<div class="clear"></div>
	{% endblock cuerpo %}	
</section>
