<header class="navbar-fixed-top">
    <nav class="col-md-10 col-sx-10 center-block navbar" role = "navigation" >
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><div id="logo"></div></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-navbar-collapse" aria-expanded="false">
                    <span class = "sr-only">Somos iCode Tecnología en Ciudad Guayana</span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                </button>
            </div>
            <div class = "collapse navbar-collapse" id = "menu-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/somos-icode/" id="/somos-icode/" title="Quienes Somos">Quienes somos</a></li>
                    <li><a href="/servicios/" id="/servicios/" title="Servicios">Servicios</a></li>
                    <li><a href="#" title="Productos">Productos</a></li>
                    <li><a href="/contacto/" id="/contacto/" title="Contacto">Contacto</a></li>
                    <li><a href="/blog/" id="/blog/" title="Blog">Blog</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

