{% extends 'base.html' %}
{% load staticfiles %}
{% block cargador %}
<div class="cssload-loader">
    <div class="cssload-inner cssload-one"></div>
    <div class="cssload-inner cssload-two"></div>
    <div class="cssload-inner cssload-three"></div>
    <div id="logo2"></div>
</div>

{% endblock cargador %}

{% block cuerpo %}
<section class="header-interno">
	<div class="col-md-10 col-xs-12 center-block">
		<h1 class="titulo-centrado">Creamos soluciones reales, bajo tecnología de vanguardia.</h1>
		<p style="text-align: center; font-size: 12pt; font-family: : FontBold">"Si tú lo sueñas... Nosotros lo creamos".</p>
	</div>
	<div class="overlay"></div>
	<div class=""></div>
</section>

<section id="contenido">
    <section id="tecnologia" class="bg2">
        <div class="col-md-10 col-xs-12 center-block">
            <h2>
                Plataformas sólidas
            </h2>
            <div class="col-md-5 col-sx-5">
                <img src = "{% static 'images/tecnologia.png'%} " style = "width: 100%" alt = "Desarrollo de sistemas y tecnología">
            </div>
            <div class="col-md-7 col-sx-7">
                <p style="text-align: justify;">El mundo actual se mueve bajo las tecnologías y éstas brindan un gran impulso para tú empresa y/o proyecto de emprendimiento. Así que creemos que las ideas de negocios necesitan de soluciones tecnologicas eficientes y nuestro equipo no tiene limites para desarrollarlas, sea que quieras una <strong>aplicación móvil</strong>, una <strong>página web</strong>, o una aplicación de escritorio nosotros somo tú mejor opción.</p>
                <p style="text-align: justify;">Estamos dispuesto a ofrecerle a tú ídea el empuje que necesita. <i><strong>"iCode es tú mejor opción"</strong></i></p>
            </div>
            <div class="clear"></div>
        </div>
        <div id="elegirnos" class="col-md-10 col-xs-12 center-block">
            <h3 class="titulo-centrado">
                ¿ Porqué elergir a Sistemas iCode?
            </h3>

            <p style="text-align: center;">Somos un equipo multidisciplinario, nos mueve la <strong><i>pasión</i></strong> por lo que hacemos. Cada proyecto es un reto nuevo que adquirimos con la <strong><i>responsabilidad y compromiso</i></strong> que el mismo represente para nuestros clientes.
            Cada integrante es <strong><i>experto en su área de experticia</i></strong> brindando la mejor solución y asesoría sin necesidad de improvisar, puesto que es la experiencia la que nos dirige.</p>
            <div style="text-align: center;">
                <a href="/somos-icode" class="btn btn-icode ">Conocemos más de icode</a>
            </div>

        </div>
    </section>
</section>
{% endblock cuerpo %}


{%  block js %}
<script>
    $(function(){
        $(".cssload-three").css({"border-color":"white"});
        $("#dg_header").css({"height":window.screen.height});
        setTimeout(function(){
            $("header").fadeIn(400);
            $("#dg_header").fadeIn();

            setTimeout(function(){
                $(".titulo-centrado").fadeIn(400);                
                $(".cssload-loader").fadeOut(200);
                $('#footer').fadeIn(200);
                $("#body").fadeIn();
                $("footer").fadeIn();
            },1000);
            
        },2000);
        
        
    });
</script>
{% endblock js %}