{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block cuerpo %}
{% block css %}
<style type="text/css">
	header, #body, footer{display: block;}
</style>
{% endblock css %}
<section class="header-interno">
	<div class="col-md-10 col-xs-12 center-block">
		<h1 class="titulo-centrado">Somos carta abierta, nuestro trabajo habla por nosotros.</h1> 
		<p style="text-align: center; font-size: 12pt; font-family: : FontBold">Te ofrecemos plataformas robustas, seguras, adaptadas a las necesidades de tu negocio.</p>
	</div>
	<div class="overlay"></div>
	<div class=""></div>
</section>
<section class="bg2" id="contenido">
	<div class="col-md-10 col-xs-12 center-block" >
		<h2 class="titulo-centrado">
	        <span class="titulo">¿ {% trans "Que es Sistemas iCode"%}?</span>
	    </h2>
	    <br>
	    <p style="text-indent: 20pt">{% trans "Es una empresa dedicada a brindar soluciones tecnologícas, conformada por un equipo de jovenes profesionales dedicado a un área de experticia especifica unidos por el sentir de llevar a buenos términos software de alta calidad provocando clientes satisfechos. Siendo nuestro principal objetivo hacer de la tecnología tú aliado número uno para alcanzar el crecimeinto que tú organización necesita. "%}</p>
		<p style="text-indent: 20pt">{% trans "No pudes en contactarnos tenemos toda la disposición de escuchar tus ideas para hacerlas realidad. Estamos convencidos que trabajando en conjunto encontrarás en éxito que buscas apoyandote las herramientas que podemos desarrollar para tú marca. "%}</p>
	</div>
	<div class=""></div>
	<div class="col-md-10 col-xs-12 center-block" >
       <div class = "row">
           <div class="col-md-4 col-xs-12">
    		<h3 style="color: #2d2d2d !important; text-align: center">{% trans "OBJETIVOS" %}</h3>
    		<ul>
              <li>{% trans "Proveer soluciones de software apoyados en tecnologías en constante evolución, en todas las áreas demandantes de desarrollo informático inteligente aplicado a la gestión de procesos productivos." %}</li>
              <li>{% trans "Ser una Empresa reconocida y elegida como “aliado” de sus clientes por la calidad de las propuestas y el cumplimiento de los compromisos asumidos." %}</li>
            </ul>
    	</div>
    	<div class="col-md-4 col-xs-12">
    		<h3 style="color: #2d2d2d !important; text-align: center">{% trans "MISIÓN" %}</h3>
    		<p>{% trans "Brindar soluciones tecnológicas innovadoras, adaptables a las necesidades de nuestros clientes, promoviendo su desarrollo y crecimiento, mediante un equipo de expertos en tecnologías de información altamente competitivo." %}</p>
    	</div>
    	<div class="col-md-4 col-xs-12">
    		<h3 style="color: #2d2d2d !important; text-align: center">{% trans "VISIÓN" %}</h3>
    		<p>{% trans "Ser una empresa de referencia, vanguardista, adaptable al cambio de la tecnología y la sociedad, dando a conocer las posibilidades de los estándares y tecnologías. Esta labor se debe desempeñar de forma ética y satisfactoria para nosotros, nuestros clientes y el resto de la sociedad." %}</p>
    	</div>
       </div>
        <div class="row">
            <div class="col-md-4 col-xs-12">
	    	<h3 style="color: #2d2d2d !important; text-align: center">{% trans "POLÍTICA DE CALIDAD" %}</h3>
	    	<p>{% trans "Desarrollo sistemas, plataformas tecnológicas, aplicaciones moviles con alto impacto visual y " %}
				{% trans "funcional. es nuestra política crear productos que brinden soluciones reales y competentes en el mercado tecnológico." %}</p>
	    </div>
    	<div class="col-md-4 col-xs-12">
    		<h3 style="color: #2d2d2d !important; text-align: center">{% trans "VALORES" %}</h3>
    		<ul>
              <li>{% trans "Alto sentido de prioridad y responsabilidad." %}</li>
              <li>{% trans "Contribuimos al formar parte del equipo de trabajo de nuestros clientes." %}</li>
              <li>{% trans "Enfocados a dar resultados óptimos." %}</li>
              <li>{% trans "Mejora continua de nuestros procesos." %}</li>
            </ul>
    	</div>
    	<div class="col-md-4 col-xs-12">
    		<h3 style="color: #2d2d2d !important; text-align: center">{% trans "FILOSOFÍA" %}</h3>
    		<p>{% trans "Vincularnos para optimizar el aprovechamiento de las tecnologías y la automatización de procesos para la integración de las comunidades al mundo global y el conocimiento." %}</p>
    	</div>
        </div>
    	<!--<div class="col-md-4 col-xs-12">
    		<h3 style="color: #2d2d2d !important; text-align: center">{% trans "DESARROLLO" %}</h3>
    		{% trans "El desarrollo de software es nuestro principal servicio. sea una aplicación movil (android, IOS) o deseas tener presencia en internet o necesitas un sistemas tenemos a los mejores en ésta área dispuesto a darte la ayuda que necesitas." %}
    	</div>-->
	    	
	    <div class="clear"></div>
	</div>
</section>
{% endblock cuerpo %}