{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block css %}
<style>
	header, #body, footer{display: block !important;}
	.header-interno{background:rgba(0, 0, 0, 0) no-repeat url(/static/images/bg_servicios.jpg) !important; background-size: cover !important; background-position: center center !important;}
</style>
{% endblock css %}

{% block cuerpo %}

<section class="header-interno">
	<div class="col-md-10 col-xs-12 center-block">
		<h1 class="titulo-centrado">Asesorias gratis.</h1> 
		<p style="text-align: center; font-size: 12pt; font-family: : FontBold">Todo el potencial de las tecnologías web, moviles y servidores al alcance de tu mano.</p>
	</div>
	<div class="overlay"></div>
	<div class=""></div>
</section>
<section class="bg2" id="contenido" >
	<section class="col-md-10 col-xs-12 center-block" style="margin-bottom: 20px;">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<h2 class="titulo-centrado">{% trans "Asistencia profesional." %}</h2> 
				<p style="text-align: center;">
					{% trans "Nos caracterizamos por presentar un servicios totalmente personalizado, permitiendo realizar un análisis exhaustivo del planteamiento de las ideas de nuestros clientes. Con el fin de presentarle la <i><strong>mejor solución que se adecuado a sus necesidades.</strong></i> Todo inicia con una reunion donde el cliente expresa su idea y nuestro equipo realiza todas preguntas con el único objetivo de conectarnos con el clientes y hacer de su proyecto propio para garantizar la excelencia de nuestro trabajo " %}
				</p>
			</div>
		</div>

	    <section class="row">
			<h2 class="titulo-centrado">{% trans "Full servicios tecnológicos." %}</h2>
		    <div class="col-md-6 col-xs-12" style="margin-top: 20px">
		    	<article class="servicios">
					<div class="col-md-4 col-xs-4">
						<div class="image-contenedor" style="background: url({% static 'images/desarrollo.png' %}); width: 100%;"></div>
					</div>

					<h3 style="text-align: center;">{% trans "Desarrollo Web personalizado" %}</h3>
					<p>{% trans "En Sistemas iCode creamos lo imposible, con nuestro equipo de expertos desarrolladores y arquitectos de software no tenemos limites para resolver problemas empresariales. " %}</p>
					<p>{% trans "Estamos enfocados en mantener a nuestro equipo a la vanguardia de las tecnologías de sismtemas y framework para llevar a cabo ésta importante labor." %}</p>
		    	</article>
			</div>   
			<div class="col-md-6 col-xs-12" style="margin-top: 20px">
				<article class="servicios">
					<div class="col-md-4 col-xs-4">
						<div class="image-contenedor" style="background: url({% static 'images/dise_o.png' %});"></div>
					</div>
					<h3 style="text-align: center;">{% trans "Diseño Gráfico e imagen corporativa" %}</h3>
					<p>{% trans "Definitivamente lo visual tiene un impacto importante para captar clientes, es por ello que nuestros diseñares se conectaran con usted para expresar en artes visuales lo que deseas proeyctar con tú marca." %}</p>
					<p>{% trans "Está a disposición mentes creativas que manejan a la perfección los programas de edición de videos y de imagenes vectoriales." %}</p>
				</article>
			</div>
			<div class="col-md-6 col-xs-12" style="margin-top: 20px">
			 	<article class="servicios">
					<div class="col-md-4 col-xs-4">
				 		<div class="image-contenedor" style="background: url({% static 'images/ecommer.png' %});"></div>
					</div>
			    	<h3 style="text-align: center;">{% trans "Plataformas para comercio electrónico" %}</h3>
			    	<p>{% trans "iCode ofrece desarrollo de plataformas de comercio electronico integrado a pasarelas de pago internacional y nacionales, carritos de compra e integración con sistemas administrativos para gestionar el inventario, proveedores y despachos de mercancia a los consumidores." %}</p>
			    </article>
		    </div>
			 <div class="col-md-6 col-xs-12" style="margin-top: 20px">
			 	<article class="servicios">
					<div class="col-md-4 col-xs-4">
				 		<div class="image-contenedor" style="background: url({% static 'images/mobile.png' %});"></div>
					</div>
			    	<h3 style="text-align: center;">{% trans "Desarrollo de aplicaciones móviles" %}</h3>
			    	<p>{% trans "El 60% del acceso a Internet se realiza a través de un teléfono móvil o una tableta y para asegurarse de que no se pierda ese porcentaje de visibilidad, le ayudamos a crear aplicaciones de retención de clientes. Apuntando a la audiencia que no puede ser a través de los medios tradicionales." %}</p>
			    </article>
		    </div> 
	    </section>
    </section>
	<section class="col-md-10 col-xs-12 center-block" style="z-index: 6;position: relative; ">
		<div class="row">
			<div class="col-md-7 col-xs-12" style="margin-bottom: 20px;">
				<h2 class="titulo-centrado">{% trans "Herramientas tecnologícas"%}</h2><br>
				<div class="row">
					<div class="col-md-4 col-xs-4">
						<img src="{% static 'images/linux.png' %}" alt="Linux">
					</div>
					<div class="col-md-4 col-xs-4">
						<img src="{% static 'images/nginx.png' %}" alt="nginx server">
					</div>
					<div class="col-md-4 col-xs-4">
						<img src="{% static 'images/java.png' %}" alt="Java">
					</div>

				</div>
				<br>
				<div class="row">
					<div class="col-md-4 col-xs-4">
						<img src="{% static 'images/django.png' %}" alt="Django Framework">
					</div>
					<div class="col-md-4 col-xs-4">
						<img src="{% static 'images/laravel.png' %}" alt="Laravel Framework">
					</div>
					<div class="col-md-4 col-xs-4">
						<img src="{% static 'images/node.png' %}" alt="node.js">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-4 col-xs-4">
						<img src="{% static 'images/mongodb.png' %}" alt="mongodb">
					</div>
					<div class="col-md-4 col-xs-4">
						<img src="{% static 'images/postgresql.png' %}" alt="postgresql">
					</div>
					<div class="col-md-4 col-xs-4">
						<img src="{% static 'images/angular.png' %}" alt="anuglar.js">
					</div>

				</div>
				<br>
				<div class="row">
					<div class="col-md-4 col-xs-4">
						<img src="{% static 'images/iOS.png' %}" alt="ios">
					</div>
					<div class="col-md-4 col-xs-4">
						<img src="{% static 'images/android.png' %}" alt="android">
					</div>
					<div class="col-md-4 col-xs-4">
						<img src="{% static 'images/ionic.png' %}" alt="ionic Framework">
					</div>
				</div>

			</div>
			<div id="web_incluye" class="col-md-5 col-xs-12">
				<h2 class="titulo-centrado">{% trans "Nuestros desarrollos incluye"%}</h2>
				<div class="row">
					<div class="col-md-12 col-xs-12">
						<div class="col-md-2 col-xs-2">
							<i class="fa fa-file-text-o"></i>
						</div>
						<div class="col-md-10 col-xs-10">
							<h4 class="shorter">Gestor de Contenidos</h4>
							<p class="tall">Permite agregar, modificar o eliminar la información, imágenes, videos, mediante un sistema que colocas a tu disposicion </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-xs-12">
						<div class="col-md-2 col-xs-2">
							<i class="fa fa-share-alt-square"></i>
						</div>
						<div class="col-md-10 col-xs-10">
							<h4 class="shorter">Redes Sociales</h4>
							<p class="tall">Integración con redes sociales para compartir contenidos de forma sencilla. </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-xs-12">
						<div class="col-md-2 col-xs-2">
							<i class="fa fa-envelope-o"></i>
						</div>
						<div class="col-md-10 col-xs-10">
							<h4 class="shorter">Correo Electrónico</h4>
							<p class="tall">Tendrá direcciones de correos personalizados con el nombre de su empresa. </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-xs-12">
						<div class="col-md-2 col-xs-2">
							<i class="fa fa-volume-control-phone"></i>
						</div>
						<div class="col-md-10 col-xs-10">
							<h4 class="shorter">Soporte y Garantía</h4>
							<p class="tall">Garantía por 7 meses a partir de la entrega del producto, con asesoría y soporte 24/7 sobre el funcionamiento del sitio web. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
{% endblock cuerpo %}